<% include ./partials/header %>

<h1 class="display-2 my-5 text-center">Blog App</h1>

<%blogs.forEach(function(blog){%>
<div class="container">
    <div class="media mb-5 media-custom  shadow p-3 mb-5 bg-white rounded">
            <img class="mr-3 img-fluid" src="<%=blog.image%>/100x100">
            <div class="media-body">
                <h3 class="mt-0"><%=blog.title%></h3>
                <p><%=blog.body.substring(0, 100) %>.....</p>
                
                <a class="d-block mb-1 " href="/blogs/<%=blog._id%>">Read More</a>
                <span class="badge badge-light "><%=blog.created%></span>
            </div>
    </div>        
</div>
<%})%>
<div class="mb-5 invisible">1</div>

<% include ./partials/footer %>